.small-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px 40px;
    border: 5px solid #F56004;
    border-radius: 20px;
    max-width: 350px;
}

.small-card .card-icon {
    height: 3em;
}

.small-card b {
    font-family: 'SF UI Display', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}